<section class="mt-12">
  <div class="py-8 lg:py-16 mx-auto max-w-screen-xl px-6">
    <h2
      class="mb-4 text-center text-4xl font-extrabold tracking-tight leading-tight text-lime-50"
    >
      Afleveringen
    </h2>
    <ul class="space-y-4 text-lime-50">
      {{ $pages := where site.RegularPages "Type" "in" site.Params.mainSections
      }} {{ range $pages.GroupByPublishDate "2006-01" }} {{ range sort .Pages
      "PublishDate" "asc" }}
      <li class="border-b border-lime-100 py-6 text-xl">
        <a href="{{ .RelPermalink }}">
          <h3
            class="mb-1 text-xl md:text-2xl font-bold tracking-tight text-lime-50 hover:text-red-500"
          >
            {{ .Params.Number }}. {{ .Title }}
          </h3>
        </a>
        <p class="text-lime-100 py-2">{{ .Params.short_description }}</p>
        {{ if .Params.Duration }} {{ $parts := split .Params.Duration ":" }} {{
        $hours := int (index $parts 0) }} {{ $minutes := int (index $parts 1) }}
        {{ $seconds := int (index $parts 2) }} {{ $totalMinutes := add (mul
        $hours 60) $minutes }} {{ if gt $seconds 0 }} {{ $totalMinutes = add
        $totalMinutes 1 }} {{ end }}
        <p class="text-lime-100">{{ $totalMinutes }} min.</p>
        {{ end }}
      </li>
      {{end}} {{end}}
    </ul>
  </div>
</section>
