<footer class="bg-lime-950" id="contact">
  <div class="mx-auto w-full max-w-screen-xl p-4 py-6 lg:py-8">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <span
          class="self-center text-lime-100 text-2xl font-semibold whitespace-nowrap"
          >Bunzing</span
        >
      </div>
      <div class="grid gap-8 sm:gap-6 mr:mx-12">
        <div>
          <h2 class="mb-6 text-sm font-semibold text-lime-100 uppercase">
            Organisatie
          </h2>
          <ul class="text-lime-100 font-medium">
            <li class="">
              <p>Bunzing HK</p>
              <p>Amsterdam, Nederland</p>
            </li>
            <li>
              <p>hey@bunzing.nl</p>
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
  </div>
</footer>
