<h2
  class="mt-12 mb-6 text-4xl md:text-6xl tracking-tight font-bold text-lime-50"
>
  Ontdek wat er werkelijk achter de NAVO schuilt.
</h2>
<div class="font-light text-lime-100 md:text-lg">
  <p class="mb-6">
    De Noord-Atlantische Verdragsorganisatie (NAVO) had om vrede moeten gaan.
    Een verdrag ter verdediging. Om West-Europese en Amerikaanse levens veilig
    te stellen. Maar wat gebeurde er werkelijk?
  </p>
  <p class="mb-6">
    <i>NAVO: De keerzijde van een verdrag</i> is een zevendelige podcast over de
    schokkende andere kant van het Noord-Atlantisch verdrag. De verborgen
    explosieven. De terreuraanlagen. De binnenlandse sabotage.
  </p>
  <p class="mb-6">Ontdek het allemaal.</p>
</div>
