<div class="mx-auto max-w-screen-xl lg:py-16 lg:px-12">
    <section class="bg-lime-950">
      <div
        class="gap-8 items-center md:py-8 md:px-4 mx-auto max-w-screen-xl xl:gap-16 grid md:grid-cols-2 sm:py-16 lg:px-6"
      >
            <img
                src="/media/navo.png"
                alt="NAVO: De keerzijde van een verdrag"
                class="w-full aspect-square md:w-48 md:h-48 object-cover"
            />

  
        <div class="">
            <h2 class="mb-6 text-5xl md:text-6xl tracking-tight text-lime-50">
                NAVO: De keerzijde van een verdrag
              </h2>
              <p class="text-lime-100 font-sans flex items-center mb-4">
                <svg
                  class="mr-2"
                  width="1em"
                  height="0.8em"
                  viewBox="0 0 10 10"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    d="M10 5.49375C9.94997 2.45 7.72983 0 5.00313 0C2.27642 0 0.0562852 2.45 0 5.49375V9.79375C0.419012 9.925 0.83177 10 1.18824 10C2.51407 10 3.46467 9.04375 3.46467 7.7125C3.46467 6.29375 2.38899 5.3375 1.05691 5.3375C0.913071 5.3375 0.644153 5.39375 0.587867 5.39375C0.650407 4.08125 1.08193 2.9 1.80113 2.0125C2.67042 1.31875 3.78361 0.9 4.99687 0.9C6.21013 0.9 7.32958 1.31875 8.19262 2.0125C8.91807 2.9 9.34959 4.0875 9.40588 5.4C9.35585 5.4 9.08068 5.33125 8.93684 5.33125C7.60475 5.33125 6.52908 6.2875 6.52908 7.70625C6.52908 9.0375 7.47342 9.99375 8.8055 9.99375C9.16198 9.99375 9.57473 9.925 9.99375 9.7875V5.48125L10 5.49375Z"
                    fill="currentColor"
                  ></path>
                </svg>
                7 afleveringen
              </p>
              <div class="font-light text-lime-100 text-xl">
                <p class="mb-12">
                  De Noord-Atlantische Verdragsorganisatie (NAVO) had om vrede moeten gaan. Een pact ter verdediging. Maar wat gebeurde er werkelijk? Van verborgen explosieven tot binnenlandse sabotage, ontdek nu de schokkende andere kant van de NAVO.
                </p>
              </div>
        </div>
      </div>
    </section>
  </div>
  