<section class="bg-lime-950" id="over">
  <div
    class="gap-16 items-center text-center py-8 px-4 mx-auto max-w-screen-xl lg:grid lg:grid-cols-2 lg:py-16 lg:px-6"
  >
    <div class="font-light text-lime-100 sm:text-lg">
      <h2 class="mt-4 mb-4 text-4xl tracking-tight font-extrabold text-lime-50">
        Over Bunzing
      </h2>
      <p class="mb-4">
        Bunzing brengt je de verhalen die je niet op het acht-uur journaal
        hoort. De analyse achter de hetze. Onderzoek en verdieping, zelfs als de
        waarheid ongemakkelijk is. Helder, tegendraads, feiten.
      </p>
      <p>
        Met <i>NAVO: De keerzijde van een verdrag</i> lanceert Bunzing een
        zeven-delige podcast over de schokkende achtergronden van het
        Noord-Atlantisch pact. Een verregaande militaire overeenkomst, waarvan
        de gevolgen ook vandaag nog steeds te merken zijn—zowel in Nederland als
        in andere NAVO landen.
      </p>
    </div>
    <div class="grid grid-cols-2 gap-4 mt-8 max-h-sm">
      <img
        class="w-full max-h-md object-cover"
        src="/media/peteano.jpeg"
        alt="Een autowrak na het ontploffen van een autobom in Italië, mei 1972."
      />
      <img
        class="mt-4 w-full lg:mt-10"
        src="/media/rutte.jpg"
        alt="Mark Rutte, NAVO secretaris-generaal"
      />
    </div>
  </div>
</section>
