<nav class="bg-lime-950 border-b border-lime-50 md:mx-4">
  <div
    class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4"
  >
    <a href="/#over" class="flex items-center space-x-3 rtl:space-x-reverse">
      <span
        class="self-center text-2xl font-semibold whitespace-nowrap text-lime-50"
        >Bunzing</span
      >
    </a>
    <button
      data-collapse-toggle="navbar-default"
      type="button"
      class="inline-flex items-center p-2 w-10 h-10 justify-center text-sm text-gray-300 rounded-lg md:hidden hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-200"
      aria-controls="navbar-default"
      aria-expanded="false"
    >
      <span class="sr-only">Open menu</span>
      <svg
        class="w-5 h-5"
        aria-hidden="true"
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 17 14"
      >
        <path
          stroke="currentColor"
          stroke-linecap="round"
          stroke-linejoin="round"
          stroke-width="2"
          d="M1 1h15M1 7h15M1 13h15"
        />
      </svg>
    </button>
    <div class="hidden w-full md:block md:w-auto" id="navbar-default">
      <ul
        class="font-medium text-lg flex flex-col p-4 md:p-0 mt-4 rounded-lg bg-lime-950 md:flex-row md:space-x-8 md:mt-0 md:border-0"
      >
        <li>
          <a
            href="#over"
            class="block py-2 px-3 text-lime-50 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-lime-300 md:p-0"
            >Over</a
          >
        </li>
        <li>
          <a
            href="#team"
            class="block py-2 px-3 text-lime-50 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-lime-300 md:p-0"
            >Team</a
          >
        </li>
        <li>
          <a
            href="#contact"
            class="block py-2 px-3 text-lime-50 rounded-sm hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-lime-300 md:p-0"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
