<section class="bg-lime-950">
    <div class="mx-auto max-w-screen-xl">
      <div class="flex flex-col gap-6">
  
        <!-- Maarten -->
        <div class="flex items-center gap-6 text-lime-100">
          <img
            class="w-24 h-24 object-cover rounded-full grayscale"
            src="/media/maarten.jpg"
          alt="Maarten Steenhagen"
          />
          <div>
            <h3 class="text-xl tracking-tight text-lime-50">
                <p>Dr Maarten Steenhagen</p>
            </h3>
            <p><i>Script & productie</i></p>
        </div>
      </div>

        <!-- Kit -->
        <div class="flex items-center gap-6 text-lime-100">
        <img
            class="w-24 h-24 object-cover rounded-full grayscale"
            src="/media/kit.jpg"
        alt="Kit Onrust"
        />
        <div>
            <h3 class="text-xl tracking-tight text-lime-50">
                Dr Kit Onrust
            </h3>
            <p><i>Tech & onderzoek</i></p>
        </div>
        </div>

        <!-- Archie -->
        <div class="flex items-center gap-6 text-lime-100">
        <img
            class="w-24 h-24 object-cover rounded-full grayscale"
            src="/media/archie.jpg"
        alt="Archie Flyte"
        />
        <div>
            <h3 class="text-xl tracking-tight text-lime-50">
                Archie Flyte
            </h3>
            <p><i>Design & geluid</i></p>
        </div>
        </div>
    </div>
  </section>
  