<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="bg-lime-950">
    <div class="max-w-screen-7xl">
      <header>{{ partial "navbar.html" . }}</header>
      <main>
        <section class="border-b border-lime-50">
          {{ partial "hero.html" . }}
        </section>
        <section class="border-b border-lime-50">
          {{ partial "platforms.html" . }}
        </section>
        <section class="border-b border-lime-50">
          {{ partial "countdown.html" . }}
        </section>
        <section>{{ partial "episode-list.html" . }}</section>
        {{ block "main" . }}{{ end }}
        <section class="border-b border-lime-50">
          {{ partial "more-info.html" . }}
        </section>
        <section class="mt-4 border-b border-lime-50">
          {{ partial "team.html" . }}
        </section>
        <section class="mt-4 border-b border-lime-50">
          {{ partial "cta.html" . }}
        </section>
      </main>
      <footer>{{ partial "footer.html" . }}</footer>
    </div>
  </body>
</html>
