<!DOCTYPE html>
<html
  lang="{{ site.Language.LanguageCode }}"
  dir="{{ or site.Language.LanguageDirection `ltr` }}"
>
  <head>
    {{ partial "head.html" . }}
  </head>
  <body class="bg-lime-950">
    <div class="max-w-screen-7xl">
      <!-- {{ partial "sticky-banner.html" }} -->
      <header>{{ partial "navbar.html" . }}</header>
      <main>
        <section>{{ partial "hero.html" . }}</section>
        <section>{{ partial "platforms.html" . }}</section>
        <section>{{ partial "countdown.html" . }}</section>
        <section></section>
        {{ block "main" . }}{{ end }}
        <section>{{ partial "more-info.html" . }}</section>
        <!-- <section>{{ partial "testimonial.html" . }}</section> -->
        <section>{{ partial "team.html" . }}</section>
        <section>{{ partial "cta.html" . }}</section>
      </main>
      <footer>{{ partial "footer.html" . }}</footer>
    </div>
  </body>
</html>
